/high_Moerel_2024/data
/high_Moerel_2024/results/erp
/high_Moerel_2024/results/epoch

/high_Sun_2023/data
/high_Sun_2023/results/erp
/high_Sun_2023/results/epoch

/low_Kosciessa_2021/data
/low_Kosciessa_2021/results/erp
/low_Kosciessa_2021/results/epoch

/low_Manning_2021/data
/low_Manning_2021/results/erp
/low_Manning_2021/results/epoch

/mid_van_Vugt_2019/data
/mid_van_Vugt_2019/results/erp
/mid_van_Vugt_2019/results/epoch