/02_study/high_Moerel_2024/data
/02_study/high_Moerel_2024/data
/02_study/high_Moerel_2024/results/erp
/02_study/high_Moerel_2024/results/epoch

/02_study/high_Sun_2023/data
/02_study/high_Sun_2023/results/erp
/02_study/high_Sun_2023/results/epoch

/02_study/low_Kosciessa_2021/data
/02_study/low_Kosciessa_2021/results/erp
/02_study/low_Kosciessa_2021/results/epoch

/02_study/low_Manning_2021/data
/02_study/low_Manning_2021/results/erp
/02_study/low_Manning_2021/results/epoch

/02_study/mid_van_Vugt_2019/data
/02_study/mid_van_Vugt_2019/results/erp
/02_study/mid_van_Vugt_2019/results/epoch